* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;

    background-color: #eee;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;


}

form .text-area {
    resize: none;
    padding: .5rem;
    width: 60%;
    height: 25%;

    margin-bottom: 1rem;

    border: 0;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);

    overflow: auto;
    outline: none;

}

form .counter {
    margin-bottom: .75rem;
}

form .count-button {
    border: 0;

    padding: .75rem 1rem;
    font-size: .9rem;

    background: rgb(111, 0, 255);
    color: rgb(245, 245, 245);

    border-radius: .25rem;

    cursor: pointer;
}

